<div class="page-header">
  <h3>Coordinator #<%= @coordinator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @coordinator.name %></dd>

      <dt>Email address</dt>
      <dd><%= @coordinator.email_address %></dd>

      <dt>Phone number</dt>
      <dd><%= @coordinator.phone_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/coordinators" class="btn btn-primary">
        Back
      </a>
      <a href="/coordinators/<%= @coordinator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_coordinator/<%= @coordinator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Coordinator has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @coordinator.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="">
      </div>

      <!-- Label and input for coordinator_id -->
      <input type="hidden" name="coordinator_id" value="<%= @coordinator.id %>">

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="">
      </div>

      <!-- Label and input for capacity -->
      <div class="form-group">
        <label for="capacity" class="control-label">
          Capacity
        </label>

        <input type="text" id="capacity" name="capacity" placeholder="Capacity" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for cancellation_policy -->
      <div class="form-group">
        <label for="cancellation_policy" class="control-label">
          Cancellation policy
        </label>

        <textarea id="cancellation_policy" name="cancellation_policy" placeholder="Cancellation policy" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_option_1 -->
      <div class="form-group">
        <label for="drink_option_1" class="control-label">
          Drink option 1
        </label>

        <textarea id="drink_option_1" name="drink_option_1" placeholder="Drink option 1" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_option_2 -->
      <div class="form-group">
        <label for="drink_option_2" class="control-label">
          Drink option 2
        </label>

        <textarea id="drink_option_2" name="drink_option_2" placeholder="Drink option 2" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_option_3 -->
      <div class="form-group">
        <label for="drink_option_3" class="control-label">
          Drink option 3
        </label>

        <textarea id="drink_option_3" name="drink_option_3" placeholder="Drink option 3" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_option_4 -->
      <div class="form-group">
        <label for="drink_option_4" class="control-label">
          Drink option 4
        </label>

        <textarea id="drink_option_4" name="drink_option_4" placeholder="Drink option 4" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_option_5 -->
      <div class="form-group">
        <label for="drink_option_5" class="control-label">
          Drink option 5
        </label>

        <textarea id="drink_option_5" name="drink_option_5" placeholder="Drink option 5" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_option_1 -->
      <div class="form-group">
        <label for="food_option_1" class="control-label">
          Food option 1
        </label>

        <textarea id="food_option_1" name="food_option_1" placeholder="Food option 1" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_option_2 -->
      <div class="form-group">
        <label for="food_option_2" class="control-label">
          Food option 2
        </label>

        <textarea id="food_option_2" name="food_option_2" placeholder="Food option 2" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_option_3 -->
      <div class="form-group">
        <label for="food_option_3" class="control-label">
          Food option 3
        </label>

        <textarea id="food_option_3" name="food_option_3" placeholder="Food option 3" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_option_4 -->
      <div class="form-group">
        <label for="food_option_4" class="control-label">
          Food option 4
        </label>

        <textarea id="food_option_4" name="food_option_4" placeholder="Food option 4" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_option_5 -->
      <div class="form-group">
        <label for="food_option_5" class="control-label">
          Food option 5
        </label>

        <textarea id="food_option_5" name="food_option_5" placeholder="Food option 5" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for amenity_1 -->
      <div class="form-group">
        <label for="amenity_1" class="control-label">
          Amenity 1
        </label>

        <input type="text" id="amenity_1" name="amenity_1" placeholder="Amenity 1" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_2 -->
      <div class="form-group">
        <label for="amenity_2" class="control-label">
          Amenity 2
        </label>

        <input type="text" id="amenity_2" name="amenity_2" placeholder="Amenity 2" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_3 -->
      <div class="form-group">
        <label for="amenity_3" class="control-label">
          Amenity 3
        </label>

        <input type="text" id="amenity_3" name="amenity_3" placeholder="Amenity 3" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_4 -->
      <div class="form-group">
        <label for="amenity_4" class="control-label">
          Amenity 4
        </label>

        <input type="text" id="amenity_4" name="amenity_4" placeholder="Amenity 4" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_5 -->
      <div class="form-group">
        <label for="amenity_5" class="control-label">
          Amenity 5
        </label>

        <input type="text" id="amenity_5" name="amenity_5" placeholder="Amenity 5" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_6 -->
      <div class="form-group">
        <label for="amenity_6" class="control-label">
          Amenity 6
        </label>

        <input type="text" id="amenity_6" name="amenity_6" placeholder="Amenity 6" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_7 -->
      <div class="form-group">
        <label for="amenity_7" class="control-label">
          Amenity 7
        </label>

        <input type="text" id="amenity_7" name="amenity_7" placeholder="Amenity 7" class="form-control" value="">
      </div>

      <!-- Label and input for amenity_8 -->
      <div class="form-group">
        <label for="amenity_8" class="control-label">
          Amenity 8
        </label>

        <input type="text" id="amenity_8" name="amenity_8" placeholder="Amenity 8" class="form-control" value="">
      </div>

      <!-- Label and input for rule_1 -->
      <div class="form-group">
        <label for="rule_1" class="control-label">
          Rule 1
        </label>

        <input type="text" id="rule_1" name="rule_1" placeholder="Rule 1" class="form-control" value="">
      </div>

      <!-- Label and input for rule_2 -->
      <div class="form-group">
        <label for="rule_2" class="control-label">
          Rule 2
        </label>

        <input type="text" id="rule_2" name="rule_2" placeholder="Rule 2" class="form-control" value="">
      </div>

      <!-- Label and input for rule_3 -->
      <div class="form-group">
        <label for="rule_3" class="control-label">
          Rule 3
        </label>

        <input type="text" id="rule_3" name="rule_3" placeholder="Rule 3" class="form-control" value="">
      </div>

      <!-- Label and input for rule_4 -->
      <div class="form-group">
        <label for="rule_4" class="control-label">
          Rule 4
        </label>

        <input type="text" id="rule_4" name="rule_4" placeholder="Rule 4" class="form-control" value="">
      </div>

      <!-- Label and input for rule_5 -->
      <div class="form-group">
        <label for="rule_5" class="control-label">
          Rule 5
        </label>

        <input type="text" id="rule_5" name="rule_5" placeholder="Rule 5" class="form-control" value="">
      </div>

      <!-- Label and input for rule_6 -->
      <div class="form-group">
        <label for="rule_6" class="control-label">
          Rule 6
        </label>

        <input type="text" id="rule_6" name="rule_6" placeholder="Rule 6" class="form-control" value="">
      </div>

      <!-- Label and input for do1_price -->
      <div class="form-group">
        <label for="do1_price" class="control-label">
          Do1 price
        </label>

        <input type="text" id="do1_price" name="do1_price" placeholder="Do1 price" class="form-control" value="">
      </div>

      <!-- Label and input for do2_price -->
      <div class="form-group">
        <label for="do2_price" class="control-label">
          Do2 price
        </label>

        <input type="text" id="do2_price" name="do2_price" placeholder="Do2 price" class="form-control" value="">
      </div>

      <!-- Label and input for do3_price -->
      <div class="form-group">
        <label for="do3_price" class="control-label">
          Do3 price
        </label>

        <input type="text" id="do3_price" name="do3_price" placeholder="Do3 price" class="form-control" value="">
      </div>

      <!-- Label and input for do4_price -->
      <div class="form-group">
        <label for="do4_price" class="control-label">
          Do4 price
        </label>

        <input type="text" id="do4_price" name="do4_price" placeholder="Do4 price" class="form-control" value="">
      </div>

      <!-- Label and input for do5_price -->
      <div class="form-group">
        <label for="do5_price" class="control-label">
          Do5 price
        </label>

        <input type="text" id="do5_price" name="do5_price" placeholder="Do5 price" class="form-control" value="">
      </div>

      <!-- Label and input for fo1_price -->
      <div class="form-group">
        <label for="fo1_price" class="control-label">
          Fo1 price
        </label>

        <input type="text" id="fo1_price" name="fo1_price" placeholder="Fo1 price" class="form-control" value="">
      </div>

      <!-- Label and input for fo2_price -->
      <div class="form-group">
        <label for="fo2_price" class="control-label">
          Fo2 price
        </label>

        <input type="text" id="fo2_price" name="fo2_price" placeholder="Fo2 price" class="form-control" value="">
      </div>

      <!-- Label and input for fo3_price -->
      <div class="form-group">
        <label for="fo3_price" class="control-label">
          Fo3 price
        </label>

        <input type="text" id="fo3_price" name="fo3_price" placeholder="Fo3 price" class="form-control" value="">
      </div>

      <!-- Label and input for fo4_price -->
      <div class="form-group">
        <label for="fo4_price" class="control-label">
          Fo4 price
        </label>

        <input type="text" id="fo4_price" name="fo4_price" placeholder="Fo4 price" class="form-control" value="">
      </div>

      <!-- Label and input for fo5_price -->
      <div class="form-group">
        <label for="fo5_price" class="control-label">
          Fo5 price
        </label>

        <input type="text" id="fo5_price" name="fo5_price" placeholder="Fo5 price" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
