<div class="page-header">
  <h3>Coordinator #<%= @coordinator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @coordinator.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @coordinator.last_name %></dd>

      <dt>Email address</dt>
      <dd><%= @coordinator.email_address %></dd>

      <dt>Phone number</dt>
      <dd><%= @coordinator.phone_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/coordinators" class="btn btn-primary">
        Back
      </a>
      <a href="/coordinators/<%= @coordinator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_coordinator/<%= @coordinator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Coordinator has many venues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Venues
      </li>

      <% @coordinator.venues.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
            <%= venue.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/venues/<%= venue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_venue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="">
      </div>

      <!-- Label and input for state -->
      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>

        <input type="text" id="state" name="state" placeholder="State" class="form-control" value="">
      </div>

      <!-- Label and input for zip -->
      <div class="form-group">
        <label for="zip" class="control-label">
          Zip
        </label>

        <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="">
      </div>

      <!-- Label and input for coordinator_id -->
      <input type="hidden" name="coordinator_id" value="<%= @coordinator.id %>">

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="">
      </div>

      <!-- Label and input for capacity -->
      <div class="form-group">
        <label for="capacity" class="control-label">
          Capacity
        </label>

        <input type="text" id="capacity" name="capacity" placeholder="Capacity" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for cancellation_policy -->
      <div class="form-group">
        <label for="cancellation_policy" class="control-label">
          Cancellation policy
        </label>

        <textarea id="cancellation_policy" name="cancellation_policy" placeholder="Cancellation policy" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for drink_options -->
      <div class="form-group">
        <label for="drink_options" class="control-label">
          Drink options
        </label>

        <textarea id="drink_options" name="drink_options" placeholder="Drink options" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for food_options -->
      <div class="form-group">
        <label for="food_options" class="control-label">
          Food options
        </label>

        <textarea id="food_options" name="food_options" placeholder="Food options" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Venue
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
