<!-- Validation failure messages -->
<% if @rating.errors.any? %>
  <% @rating.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Rating</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for comments_venue -->
      <div class="form-group">
        <label for="comments_venue" class="control-label">
          Comments venue
        </label>

        <textarea id="comments_venue" name="comments_venue" placeholder="Comments venue" class="form-control" rows="3"><%= @rating.comments_venue %></textarea>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :title, @rating.venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-success">
        Create Rating
      </button>
      or
      <a href="/ratings">Cancel</a>
    </form>
  </div>
</div>
