<div class="page-header">
  <h1>
    Venues
    <a href="/venues/new" class="btn btn-lg btn-success">New Venue</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "venues_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :title_cont, "Title contains" %>
    <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Title contains" %>
  </div>

<div class="form-group">
  <%= f.label :fo5_price, "Fo5 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fo5_price_gteq, :class => "form-control", :placeholder => "Fo5 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fo5_price_lteq, :class => "form-control", :placeholder => "Fo5 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :fo4_price, "Fo4 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fo4_price_gteq, :class => "form-control", :placeholder => "Fo4 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fo4_price_lteq, :class => "form-control", :placeholder => "Fo4 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :fo3_price, "Fo3 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fo3_price_gteq, :class => "form-control", :placeholder => "Fo3 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fo3_price_lteq, :class => "form-control", :placeholder => "Fo3 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :fo2_price, "Fo2 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fo2_price_gteq, :class => "form-control", :placeholder => "Fo2 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fo2_price_lteq, :class => "form-control", :placeholder => "Fo2 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :fo1_price, "Fo1 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :fo1_price_gteq, :class => "form-control", :placeholder => "Fo1 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :fo1_price_lteq, :class => "form-control", :placeholder => "Fo1 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :do5_price, "Do5 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :do5_price_gteq, :class => "form-control", :placeholder => "Do5 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :do5_price_lteq, :class => "form-control", :placeholder => "Do5 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :do4_price, "Do4 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :do4_price_gteq, :class => "form-control", :placeholder => "Do4 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :do4_price_lteq, :class => "form-control", :placeholder => "Do4 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :do3_price, "Do3 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :do3_price_gteq, :class => "form-control", :placeholder => "Do3 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :do3_price_lteq, :class => "form-control", :placeholder => "Do3 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :do2_price, "Do2 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :do2_price_gteq, :class => "form-control", :placeholder => "Do2 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :do2_price_lteq, :class => "form-control", :placeholder => "Do2 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :do1_price, "Do1 price" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :do1_price_gteq, :class => "form-control", :placeholder => "Do1 price greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :do1_price_lteq, :class => "form-control", :placeholder => "Do1 price less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :rule_6_cont, "Rule 6 contains" %>
    <%= f.text_field :rule_6_cont, :class => "form-control", :placeholder => "Rule 6 contains" %>
  </div>

<div class="form-group">
    <%= f.label :rule_5_cont, "Rule 5 contains" %>
    <%= f.text_field :rule_5_cont, :class => "form-control", :placeholder => "Rule 5 contains" %>
  </div>

<div class="form-group">
    <%= f.label :rule_4_cont, "Rule 4 contains" %>
    <%= f.text_field :rule_4_cont, :class => "form-control", :placeholder => "Rule 4 contains" %>
  </div>

<div class="form-group">
    <%= f.label :rule_3_cont, "Rule 3 contains" %>
    <%= f.text_field :rule_3_cont, :class => "form-control", :placeholder => "Rule 3 contains" %>
  </div>

<div class="form-group">
    <%= f.label :rule_2_cont, "Rule 2 contains" %>
    <%= f.text_field :rule_2_cont, :class => "form-control", :placeholder => "Rule 2 contains" %>
  </div>

<div class="form-group">
    <%= f.label :rule_1_cont, "Rule 1 contains" %>
    <%= f.text_field :rule_1_cont, :class => "form-control", :placeholder => "Rule 1 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_8_cont, "Amenity 8 contains" %>
    <%= f.text_field :amenity_8_cont, :class => "form-control", :placeholder => "Amenity 8 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_7_cont, "Amenity 7 contains" %>
    <%= f.text_field :amenity_7_cont, :class => "form-control", :placeholder => "Amenity 7 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_6_cont, "Amenity 6 contains" %>
    <%= f.text_field :amenity_6_cont, :class => "form-control", :placeholder => "Amenity 6 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_5_cont, "Amenity 5 contains" %>
    <%= f.text_field :amenity_5_cont, :class => "form-control", :placeholder => "Amenity 5 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_4_cont, "Amenity 4 contains" %>
    <%= f.text_field :amenity_4_cont, :class => "form-control", :placeholder => "Amenity 4 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_3_cont, "Amenity 3 contains" %>
    <%= f.text_field :amenity_3_cont, :class => "form-control", :placeholder => "Amenity 3 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_2_cont, "Amenity 2 contains" %>
    <%= f.text_field :amenity_2_cont, :class => "form-control", :placeholder => "Amenity 2 contains" %>
  </div>

<div class="form-group">
    <%= f.label :amenity_1_cont, "Amenity 1 contains" %>
    <%= f.text_field :amenity_1_cont, :class => "form-control", :placeholder => "Amenity 1 contains" %>
  </div>

<div class="form-group">
    <%= f.label :food_option_5_cont, "Food option 5 contains" %>
    <%= f.text_field :food_option_5_cont, :class => "form-control", :placeholder => "Food option 5 contains" %>
  </div>

<div class="form-group">
    <%= f.label :food_option_4_cont, "Food option 4 contains" %>
    <%= f.text_field :food_option_4_cont, :class => "form-control", :placeholder => "Food option 4 contains" %>
  </div>

<div class="form-group">
    <%= f.label :food_option_3_cont, "Food option 3 contains" %>
    <%= f.text_field :food_option_3_cont, :class => "form-control", :placeholder => "Food option 3 contains" %>
  </div>

<div class="form-group">
    <%= f.label :food_option_2_cont, "Food option 2 contains" %>
    <%= f.text_field :food_option_2_cont, :class => "form-control", :placeholder => "Food option 2 contains" %>
  </div>

<div class="form-group">
    <%= f.label :food_option_1_cont, "Food option 1 contains" %>
    <%= f.text_field :food_option_1_cont, :class => "form-control", :placeholder => "Food option 1 contains" %>
  </div>

<div class="form-group">
    <%= f.label :drink_option_5_cont, "Drink option 5 contains" %>
    <%= f.text_field :drink_option_5_cont, :class => "form-control", :placeholder => "Drink option 5 contains" %>
  </div>

<div class="form-group">
    <%= f.label :drink_option_4_cont, "Drink option 4 contains" %>
    <%= f.text_field :drink_option_4_cont, :class => "form-control", :placeholder => "Drink option 4 contains" %>
  </div>

<div class="form-group">
    <%= f.label :drink_option_3_cont, "Drink option 3 contains" %>
    <%= f.text_field :drink_option_3_cont, :class => "form-control", :placeholder => "Drink option 3 contains" %>
  </div>

<div class="form-group">
    <%= f.label :drink_option_2_cont, "Drink option 2 contains" %>
    <%= f.text_field :drink_option_2_cont, :class => "form-control", :placeholder => "Drink option 2 contains" %>
  </div>

<div class="form-group">
    <%= f.label :drink_option_1_cont, "Drink option 1 contains" %>
    <%= f.text_field :drink_option_1_cont, :class => "form-control", :placeholder => "Drink option 1 contains" %>
  </div>

<div class="form-group">
    <%= f.label :cancellation_policy_cont, "Cancellation policy contains" %>
    <%= f.text_field :cancellation_policy_cont, :class => "form-control", :placeholder => "Cancellation policy contains" %>
  </div>

<div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
  <%= f.label :capacity, "Capacity" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :capacity_gteq, :class => "form-control", :placeholder => "Capacity greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :capacity_lteq, :class => "form-control", :placeholder => "Capacity less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :website_cont, "Website contains" %>
    <%= f.text_field :website_cont, :class => "form-control", :placeholder => "Website contains" %>
  </div>

<div class="form-group">
    <%= f.label :zip_cont, "Zip contains" %>
    <%= f.text_field :zip_cont, :class => "form-control", :placeholder => "Zip contains" %>
  </div>

<div class="form-group">
    <%= f.label :state_cont, "State contains" %>
    <%= f.text_field :state_cont, :class => "form-control", :placeholder => "State contains" %>
  </div>

<div class="form-group">
    <%= f.label :city_cont, "City contains" %>
    <%= f.text_field :city_cont, :class => "form-control", :placeholder => "City contains" %>
  </div>

<div class="form-group">
    <%= f.label :address_cont, "Address contains" %>
    <%= f.text_field :address_cont, :class => "form-control", :placeholder => "Address contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :photos_image_url_cont, "Photo image_url contains" %>
      <%= f.text_field :photos_image_url_cont, :class => "form-control", :placeholder => "Photo image_url contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Rating Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='ratingsgteqcreated_atPicker'>
                  <%= f.text_field :ratings_created_at_gteq, :class => "form-control", :placeholder => "Rating Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='ratingslteqcreated_atPicker'>
                  <%= f.text_field :ratings_created_at_lteq, :class => "form-control", :placeholder => "Rating Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#ratingsgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ratingslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ratingsgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ratingslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#ratingslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ratingsgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :coordinator_name_cont, "Coordinator name contains" %>
      <%= f.text_field :coordinator_name_cont, :class => "form-control", :placeholder => "Coordinator name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/venues" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#venues_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Address</th>
        <th>Title</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Coordinator</th>
        <th>Website</th>
        <th>Capacity</th>
        <th>Description</th>
        <th>Cancellation policy</th>
        <th>Drink option 1</th>
        <th>Drink option 2</th>
        <th>Drink option 3</th>
        <th>Drink option 4</th>
        <th>Drink option 5</th>
        <th>Food option 1</th>
        <th>Food option 2</th>
        <th>Food option 3</th>
        <th>Food option 4</th>
        <th>Food option 5</th>
        <th>Amenity 1</th>
        <th>Amenity 2</th>
        <th>Amenity 3</th>
        <th>Amenity 4</th>
        <th>Amenity 5</th>
        <th>Amenity 6</th>
        <th>Amenity 7</th>
        <th>Amenity 8</th>
        <th>Rule 1</th>
        <th>Rule 2</th>
        <th>Rule 3</th>
        <th>Rule 4</th>
        <th>Rule 5</th>
        <th>Rule 6</th>
        <th>Do1 price</th>
        <th>Do2 price</th>
        <th>Do3 price</th>
        <th>Do4 price</th>
        <th>Do5 price</th>
        <th>Fo1 price</th>
        <th>Fo2 price</th>
        <th>Fo3 price</th>
        <th>Fo4 price</th>
        <th>Fo5 price</th>
        <th>Actions</th>
      </tr>

      <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.address %></td>
        <td><%= venue.title %></td>
        <td><%= venue.city %></td>
        <td><%= venue.state %></td>
        <td><%= venue.zip %></td>
        <td>
          <% if venue.coordinator.present? %>
            <a href="/coordinators/<%= venue.coordinator.id %>">
              <%= venue.coordinator.name %>
            </a>
          <% end %>
        </td>
        <td><%= venue.website %></td>
        <td><%= venue.capacity %></td>
        <td><%= venue.description %></td>
        <td><%= venue.cancellation_policy %></td>
        <td><%= venue.drink_option_1 %></td>
        <td><%= venue.drink_option_2 %></td>
        <td><%= venue.drink_option_3 %></td>
        <td><%= venue.drink_option_4 %></td>
        <td><%= venue.drink_option_5 %></td>
        <td><%= venue.food_option_1 %></td>
        <td><%= venue.food_option_2 %></td>
        <td><%= venue.food_option_3 %></td>
        <td><%= venue.food_option_4 %></td>
        <td><%= venue.food_option_5 %></td>
        <td><%= venue.amenity_1 %></td>
        <td><%= venue.amenity_2 %></td>
        <td><%= venue.amenity_3 %></td>
        <td><%= venue.amenity_4 %></td>
        <td><%= venue.amenity_5 %></td>
        <td><%= venue.amenity_6 %></td>
        <td><%= venue.amenity_7 %></td>
        <td><%= venue.amenity_8 %></td>
        <td><%= venue.rule_1 %></td>
        <td><%= venue.rule_2 %></td>
        <td><%= venue.rule_3 %></td>
        <td><%= venue.rule_4 %></td>
        <td><%= venue.rule_5 %></td>
        <td><%= venue.rule_6 %></td>
        <td><%= venue.do1_price %></td>
        <td><%= venue.do2_price %></td>
        <td><%= venue.do3_price %></td>
        <td><%= venue.do4_price %></td>
        <td><%= venue.do5_price %></td>
        <td><%= venue.fo1_price %></td>
        <td><%= venue.fo2_price %></td>
        <td><%= venue.fo3_price %></td>
        <td><%= venue.fo4_price %></td>
        <td><%= venue.fo5_price %></td>
        <td>
          <a href="/venues/<%= venue.id %>" class="btn btn-primary">Show</a>
          <a href="/venues/<%= venue.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_venue/<%= venue.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @venues, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
